.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.image {
  max-width: 100%;
  height: auto;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #555;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #888;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.1rem;
}

.formRow {
  display: contents;
}

.label {
  font-weight: bold;
  text-align: right;
  margin-right: 0.5rem;
}

.span {
  text-align: left;
}
